
<div class="row">
  <div class="col-md-3">
    <div id="task-form" style="display:none;"></div>
    <%= link_to 'New Task', new_task_path, remote: true, class: "btn btn-success" %>
  </div>

  <div class="col-md-8 col-md-offset-1">
    <h1>Listing Tasks</h1>
    <div id="tasks">
      <div class="row">
        <%= render @tasks %>
      </div>
    </div> 
  </div>
</div>
